openapi: 3.1.0
info:
  title: GigWithMe API
  description: |
    Mobile API for GigWithMe band members. Authentication uses Laravel Sanctum
    bearer tokens. All endpoints are under `/api/v1/`.

    **Primary auth flow (magic link):**
    1. POST `/auth/magic-link` with the member's email.
    2. Member taps the link in the email — it deep-links into the app with the
       token in the URL (scheme: `gigwithme://auth?token=<token>`).
    3. App POSTs that token to `/auth/magic-link/exchange` and receives a
       Sanctum bearer token.
    4. App stores the bearer token and sends it as `Authorization: Bearer <token>`
       on every subsequent request.

    **Fallback auth flow (password):**
    POST `/auth/login` with email + password. Returns the same bearer token shape.
  version: 0.1.0
  contact:
    name: GigWithMe

servers:
  - url: https://gigwithme.app/api/v1
    description: Production
  - url: https://band.ddev.site/api/v1
    description: Local development

tags:
  - name: auth
    description: Authentication — obtain and revoke Sanctum tokens

paths:
  /auth/magic-link:
    post:
      operationId: requestMagicLink
      tags: [auth]
      summary: Request a magic sign-in link
      description: |
        Sends a one-time sign-in link to the given email address. Always
        returns 200 so that valid email addresses are not revealed.
        Tokens expire in 15 minutes and are consumed on first use.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  example: jsmith@example.com
      responses:
        '200':
          description: Request acknowledged (regardless of whether the email exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "If that email is registered, a sign-in link is on its way."
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/magic-link/exchange:
    post:
      operationId: exchangeMagicLink
      tags: [auth]
      summary: Exchange a magic-link token for a Sanctum bearer token
      description: |
        Called by the app after the member taps the deep-link from their email.
        The one-time token is validated, consumed, and exchanged for a Sanctum
        API token that the app stores for future requests.

        The `device_name` field labels the token in Sanctum so it can be
        revoked per-device from the member's account settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, device_name]
              properties:
                token:
                  type: string
                  description: The one-time token from the magic-link URL
                  example: "abc123..."
                device_name:
                  type: string
                  description: Human-readable label for this device
                  example: "iPhone 15 Pro"
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Token is invalid or has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "This sign-in link has expired or already been used."
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/login:
    post:
      operationId: login
      tags: [auth]
      summary: Sign in with email and password
      description: |
        Password-based sign-in. Returns a Sanctum bearer token on success.
        Use the magic-link flow when possible — this endpoint exists for members
        who set a password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, device_name]
              properties:
                email:
                  type: string
                  format: email
                  example: jsmith@example.com
                password:
                  type: string
                  format: password
                  example: "••••••••"
                device_name:
                  type: string
                  description: Human-readable label for this device
                  example: "Pixel 8"
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Credentials do not match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "These credentials do not match our records."
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/logout:
    post:
      operationId: logout
      tags: [auth]
      summary: Revoke the current device token
      description: |
        Deletes the Sanctum token that was used to authenticate this request.
        The app should discard its locally stored token after calling this.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Signed out."
        '401':
          $ref: '#/components/responses/Unauthenticated'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum

  schemas:
    TokenResponse:
      type: object
      required: [token, token_type, user]
      properties:
        token:
          type: string
          description: Sanctum personal access token — store this on the device
          example: "1|abc123..."
        token_type:
          type: string
          enum: [Bearer]
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      required: [id, name, email]
      properties:
        id:
          type: integer
          example: 42
        name:
          type: string
          example: "Jordan Smith"
        email:
          type: string
          format: email
          example: "jsmith@example.com"
        phone_number:
          type: string
          nullable: true
          example: "+15551234567"
        avatar_path:
          type: string
          nullable: true
          example: "avatars/jordan.jpg"
        timezone:
          type: string
          nullable: true
          example: "America/New_York"

    MessageResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string

    ErrorResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string

    ValidationErrorResponse:
      type: object
      required: [message, errors]
      properties:
        message:
          type: string
          example: "The given data was invalid."
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ["The email field is required."]

  responses:
    Unauthenticated:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: "Unauthenticated."

    ValidationError:
      description: Request failed validation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: "Too many requests."
